.image-logo {
  background-color: gren;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.logo {
  padding: center;
  margin-top: 10px;
  width: 70px;
  height: 30px;
}
.navbar {
  padding: center;
  font-size: 13px;
  font-weight: 330;
  margin-left: 40px;
  margin-top: 0px;
  border: none;
  background: none;
}
.login-navbar {
  margin-left: 20px;
  float: right;
  padding: center;
  margin-top: 11px;
  border: none;
  background: none;
}
.nav-bar {
  margin-left: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 12px;
  width: 100px;
  height: 40px;
  background: none;
  border-color: grey;
  float: right;
}
.right-bar {
  margin-bottom: 11px;
  padding-right: 20px;
  margin-left: 690px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 3px;
}
.side-bar {
  margin-top: 11px;
  display: inline-block;
}
.side-buttons {
  margin-left: 30px;
}
.header {
  font-size: 60px;
  font-weight: bold;
  width: 1170px;
  margin-bottom: 30px;
  margin-top: 120px;
  margin-left: 130px;
}
.body {
  width: 400px;
  color: grey;
  font-weight: 700;
  margin-left: 130px;
  font-size: 14px;
}
.description {
  color: white;
  background-color: black;
  font-size: 13px;
  border-radius: 10px;
  padding: center;
  width: 125px;
  height: 40px;
  margin-left: 130px;
  margin-top: 30px;
}
.desktop {
  width: 450px;
  height: 530px;
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}
.web-photo {
  background-color: gren;
  display: flex;
  flex-direction: column;
  margin-right: -540px;
}
.web-image {
  display: flex;
  flex-direction: row;
}
.icon {
  margin-top: 67px;
  margin-left: 130px;
  size: 30px;
  margin-right: -80px;
}
