.image-logo {
  background-color: green;
}
.logo {
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  font-size: 13px;
  font-weight: 600;
  border: none;
  color: grey;
  background-color: white;
}
.nav-bar {
  font-size: 13px;
  font-weight: 550;
  border-radius: 7px;
  width: 100px;
  height: 40px;
  border-color: none;
}
.right-bar {
  margin-bottom: 11px;
  padding-right: 20px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 3px;
}
.side-bar {
  padding: 11px;
  margin-right: 50px;
  background-color: orangered;
}
.side-buttons {
  margin-left: 30px;
}
.header {
  font-size: 60px;
  font-weight: bold;
  width: 1170px;
  margin-bottom: 40px;
  margin-top: 150px;
  margin-left: 130px;
}
.body {
  width: 400px;
  color: rgb(128, 128, 128);
  margin-left: 130px;
  font-size: 15px;
}
.description {
  color: white;
  background-color: black;
  font-size: 13px;
  border-radius: 7px;
  width: 100px;
  height: 40px;
}
.desktop {
  float: right;
  width: 700px;
  padding-top: 0px;
  background-color: yellow;
}
.web-photo {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}
